@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #ffffff;
  --background-start-rgb: #030031;
  --background-end-rgb: #030031;
}

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('/Tipografia/TitilliumWeb-Regular.ttf')format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-start-rgb);
  font-family: 'TitilliumWeb-Regular' !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
